<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8">
</head>
<body>
    <p>Thanks for your registration.</p>

    <div>Your account has been created with the following data:</div>
    <div>Username: {NAME}</div>
    <div>Name: {DISPLAYNAME}</div>
    <div>E-Mail: {EMAIL}</div>

    <p>Please confirm your registration by clicking the following link:</p>
    <a href="{URL}">Confirmation Link</a>
    <p>Please keep your account data safely.</p>

    Kind regards, <br />
    The Litixsoft Team
</body>
</html>