<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8">
</head>
<body>
    <p>Vielen Dank für Ihre Registrierung.</p>

    <div>Ihr Zugang wurde mit folgenden Daten angelegt:</div>
    <div>Benutzername: {NAME}</div>
    <div>Name: {DISPLAYNAME}</div>
    <div>E-Mail: {EMAIL}</div>

    <p>Bitte bestätigen Sie ihre Registrierung, indem Sie den folgenden Link klicken:</p>
    <a href="{URL}">Bestätigungslink</a>
    <p>Bitte bewahren Sie ihre Zugangsdaten sicher auf.</p>

    Mit freundlichen Grüßen <br />
    Ihr Litixsoft Team
</body>
</html>